src/python/libssr/standards/schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="integerGe1">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decimalGe0">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ssrdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="efect_level" type="xs:positiveInteger" minOccurs="0"/>
				<xs:element name="efect_version" type="xs:positiveInteger" minOccurs="0"/>
				<xs:element name="variable_names" type="xs:string"/>
				<xs:element name="simulation_times" type="xs:string"/>
				<xs:element name="sample_size" type="integerGe1" minOccurs="0"/>
				<xs:element name="ecf_evals" type="xs:string"/>
				<xs:element name="ecf_tval" type="xs:string"/>
				<xs:element name="ecf_nval" type="integerGe1" minOccurs="0"/>
				<xs:element name="error_metric_mean" type="xs:decimal"/>
				<xs:element name="error_metric_stdev" type="decimalGe0"/>
				<xs:element name="sig_figs" type="integerGe1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
